.header {
    margin: 0 auto; /* Centraliza horizontalmente */
    max-width: var(--max-width-block); /* Limita a largura máxima */
}
.nav__list {
    display: flex; /* Ativa o modelo flexível */
    gap: var(--gap-x1); /* Espaço entre os itens */
    justify-content: space-between; /* Distribui os itens com espaço entre eles */
    align-items: center; /* Centraliza os itens no eixo transversal */
    padding: var(--padding-s) 0; /* Espaçamento vertical interno */
    list-style-type: none; /* Remove marcadores de lista */
    flex-wrap: wrap; /* Quebra itens em várias linhas se necessário */
}
.nav__link {
    text-decoration: none;
    /* Remove o sublinhado dos links */
    color: var(--cor-texto);
    /* Define a cor do texto */
    font-family: var(--fonte-texto);
    /* Aplica a fonte personalizada */
    font-size: var(--font-size-m);
    /* Define o tamanho da fonte */
    font-weight: 400;
    /* Define a espessura da fonte */
}

.nav__input {
    width: 100%;
    /* Ocupa toda a largura disponível */
    border-radius: 0.5rem;
    /* Arredonda as bordas */
    border: none;
    /* Remove a borda padrão */
    background-color: var(--cor-de-fundo-input);
    /* Define a cor de fundo */
    padding: var(--padding-s);
    /* Adiciona espaçamento interno */
    background-image: url(../images/location_on.svg);
    /* Adiciona um ícone ao fundo */
    background-repeat: no-repeat;
    /* Evita repetição da imagem */
    background-position: 95% center;
    /* Posiciona a imagem no lado direito */
}
.menu__toggle {
    display: none;
    /* Tira o botao de menu*/
}
.nav__item form {
    flex: 2;
    /* Espaco entre os itens */
}
.nav__icons {
    display: flex;
    gap: 2.0em;
    /* Espaco entre os icons carrinho e perfil*/
}


/* efeitos de icons carrinho e casa*/
.nav__icons * {
    transition: scale 300ms, filter 300ms;
}
.nav__icons:has(:hover) :not(:hover) {
    scale: 0.8;
    filter: blur(1px);

}
@media screen and (max-width: 1200px) {
    .nav__list {
        row-gap: 2.0em; /* Espaço vertical entre os itens */
        gap: var(--gap-s); /* Espaço entre os itens */
    }

    .nav__item form {
        flex: 1 1 100%; /* Formulário ocupa 100% da largura */
        text-align: center; /* Centraliza o conteúdo */
        order: 1; /* Muda a ordem do formulário */
    }
    .header {
        padding: 0 5.0em; /* Espaçamento nas laterais  esquerda e direita */
    }
}
@media screen and (max-width:730px) {
        .nav__link {
            display: none;
        }
        .menu__toggle {
            display: block;
            cursor: pointer;
        }
        .header {
            padding: 0 1.5em;
        }

        .menu__toggle__icon {
            background-color: transparent;
            border: none;
        }
}
